<html>

<body>
/fareupdate = To update farematrix used by admin<br>
/contact = To contact cabchain via web module<br>
/details , /register  = Driver registration on web portal by connecting to AuthServer<br>
/getdriverlocations= To place markers for cabs on map for android module<br>
/promotionalsms/:name/:phone/:receiverphone = To refer to your friends<br>
/previousrides/:mobile = Customer's previous rides<br>
/driver-previousrides/:mobile = Driver's previous rides<br>
/getUsername/:phone = Getting user details<br>
/ratecard/:city = Getting Rate of city<br>
/userOTPLogin/:phone/:otp = matching otp for user,driver<br>
/useradd/:phone/:email/:name=adding new user to db<br>
/userlogin/:phone= Checking whether user is registered or not<br>
/userratings/:phone= rating stats of user<br>
/driverratings/:phone = rating stats of driver<br>
/driverlogin/:phone = Checking whether driver is registered or not<br>
/fare-computation-government-rates/:src/:dest = finding distance,time,fare estimates,nearest cabs of a given type<br>
/olafare/:src/:dest/:type = olafare computation<br>
/otpgeneration = ride OTPs<br>
/sendinvoice/:requestID = send invoice to user<br>
/smsinvoice/:requestID = SMS invoice in brief<br>

/aadhaar/:number/:name/:gender/:dob/:address = Aadhar verification<br>
/vahaan/:number/:chassis/:enginenumber = Vehicle Verification<br>






</body>
</html>