<h2 class="page-header">Contact Us</h2>
<h6>Facing any difficulty? Please write to us. We will revert shortly!</h6><br><br>

{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}
<form method="post" action="/users/contact">
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" placeholder="Your name" name="name">
  </div>

  <div class="form-group">
    <label>Email ID</label>
    <input  class="form-control" placeholder="Your Email ID" name="email">
  </div>
  <div class="form-group">
    <label>Enter your query</label>
    <textarea rows="4" cols="50"  class="form-control" placeholder="Shoot us the query.." name="query"></textarea>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>